/* Colors
----------------------------------------------------------------------- */

// Colors Gracycale
$light:             #FBFBFB;
$light-silver:      #F8F8F8;
$silver:            #EEEEEE;
$navy-silver:       #E5E5E5;
$dark-silver:       #DEDEDE;
$dark:              #E4E4E4;
$concrete:          #999999;
$dark-concrete:     #666666;

// Colors Default
$pink:              #EB3067;
$purple:            #515067;
$success:           #42CB13;
$danger:            #EB3067;
$dark-purple:       #213847;